# Entorno
NODE_ENV=development

# Master API
PORT=3000

# Base de Datos (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=energy_db

# RabbitMQ Connector
# URL de conexión AMQPS provista por el curso
RABBITMQ_URL=amqps://observer.45:<password>@broker.iic2173.org:5671/energy
# Nombre de la cola asignada al grupo
RABBITMQ_QUEUE=observer.45.q

# URL del master (ej. http://master:3000 en red Docker local, o http://localhost:3000)
MASTER_URL=http://localhost:3000
